* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}

button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

button.btn {
   padding: 7px 12px;
   font-weight: 600;
   border-radius: 3px;
   background-color: #f3f3f3;
   border: 1px solid #ddd;
}

button.btn:hover {
   border-color: #999;
}

button.btn-submit {
   background-color: #db4c3f;
   border: none !important;
   color: white;
}

button[disabled] {
   opacity: 0.3;
}

ul {
   list-style: none;
}
