* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
}

button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   transition: background-color 0.1s;
   border-radius: 3px;
   border: 1px solid transparent;
}

button[disabled] {
   opacity: 0.3;
   cursor: no-drop;
}

ul {
   list-style: none;
}

li {
   list-style-type: none;
}
